#top-bar {
    background-color: #353D46;
    padding: 15px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    z-index: 999;
}

#top-bar-app-name {
    flex: 1;
    color: white;
    margin: 0px;
}


#user-icon {
    margin-right: 5px;
}

#user-name-top-bar {
    color: white;
}

#sign-in-button {
    margin-right: 10px;
}

#sign-up-button {
    margin-left: 10px;
}

#main-content {
    width: 100%;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}

#sign-out-button {
    margin-left: 20px;
}

.ui.vertical.menu .item > i.icon.left {
    float: none;
    margin: 0em 0.35714286em 0em 0em;
}

#displayed-page {
    margin-top: 0;
    margin-left: 30px;
    flex: 1;
    height: 300px
}